*{
    margin: 0;
    padding: 0;
}
.main{
    background:url(https://cdn5.vectorstock.com/i/1000x1000/94/69/abstract-geometric-background-vector-7699469.jpg);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    background: rgba(255, 255, 255, 0.178);
}
.heading{
    margin-bottom: 50px;
    font-size:60px;
    font-weight:500;
    
}
@media screen and (max-width:500px) {
    .heading{
        font-size: 30px;
        text-align: center;
        margin-bottom: 60px;
    }
}
.banner{
    display: flex;
    flex-direction: column;
    background: grey;
    padding: 15px 20px;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    margin-bottom: 30px;
}
.cbtn{
    background: rgb(255, 252, 66);
}
.cbtn:hover{
    background: rgb(0, 255, 85);
}
.output{
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}
.disp{
    height: 50px;
    outline: none;
    border: none;
    margin-left: 1px;
    margin-right: 4px;
    font-size: 20px;
    padding: 0px 10px;
    width: 150px;
    border-radius: 2px;
}
.btns{
    outline: none;
    padding: 15px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    margin: 2px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    background-color: rgb(92, 197, 205);
}
.btns:hover{
    background-color: lavender;
}
.opr{
    background-color: rgba(255, 78, 167, 0.952);}
.opr:hover{
    background: rgb(255, 72, 0);
}
